.footer__container {
  display: flex;
  gap: var(--size-4);
  margin-block-end: var(--size-5);
  align-items: center;
}

.footer__github {
  width: var(--size-touchtarget);
  min-width: var(--size-touchtarget);
}
