.main__container {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: var(--size-5);
}

.toolbox__container {
  display: flex;
  gap: var(--size-4);
}

.tools__container {
  --size-card-min: 320px;
  --size-card: calc(var(--size-card-min) / 3);

  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--size-card), var(--size-card-min))
  );
  gap: var(--size-4);

  padding: 0;
  margin: 0;
  list-style: none;
}

.tool-card {
  padding: 0;
  margin: 0;
}

.tool-card > a {
  text-decoration: none;
}
.tool-card > a:is(:hover, focus) {
  text-decoration: underline;
}

.tool-card__title {
  font-weight: var(--font-weight-3);
}
